<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="head(title)">
  <meta charset="UTF-8">
  <title th:text="${title}">Timestretch</title>
  <link rel="stylesheet" href="timestretch.css" th:href="@{/css/ts.css}" />
</div>
<header th:fragment="header">
  <h1>Timestretch</h1>
</header>

<footer th:fragment="footer">
  <a class="action add" href="#" th:href="@{/tasks/new}">add new Task</a>
</footer>
</body>
</html>
