<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <!--/* the entire head section will be entirely replaced by the 'head' fragment in fragments.html template and takes the site title as a parameter */-->
    <head th:replace="~{fragments.html :: head(title='Timestretch - tasks')}">
    <body>
        <!--/* the following div will be entirely replaced by the 'header' fragment in fragments.html template  */-->
        <div th:replace="~{fragments.html :: header}"></div>
        <section id="tasklist">
            <!--/* article elements get copied over for every list item in 'tasks' (th:each) */-->
            <article th:class="${taskId != null && task.id == taskId} ? 'expanded' : 'collapsed' " th:each="task : ${tasks}">
                <!--/* display name of the particular task and create a link on it */-->
                <h2><a href="#" th:text="${task.name}" th:href="@{/tasks/{id}(id=${task.id})}">a Task</a></h2>
                <!--/* the following div only gets displayed if we have came from a link with the task.id as path param (e.g. '/tasks/1' for example) */-->
                <div th:if="${taskId != null && task.id == taskId}">
                    <ul>
                        <!--/* if we have a list of timers, iterate over it and display a list item with formatted output of start- and endtime */-->
                        <li th:each="timer : ${timers}" th:text="${#dates.format(timer.start,'dd-MM-yyyy HH:mm')}+' - '+${#dates.format(timer.end,'dd-MM-yyyy HH:mm')}"></li>
                    </ul>
                    <div class="timerRow">
                        <p th:if="${sum != null}" th:text="${sum.hour+'h : '+sum.min+'min'}">Summe</p>
                        <!--/* create links to start or stop a timer depending on the value of boolean 'isTimerActive' */-->
                        <a class="action start" th:if="${!isTimerActive}" href="#" th:href="@{/tasks/{id}/startTimer(id=${task.id})}">start Timer</a>
                        <a class="action stop" th:if="${isTimerActive}" href="#" th:href="@{/tasks/{id}/stopTimer(id=${task.id})}">stop Timer</a>
                    </div>
                </div>
            </article>
        </section>
        <!--/* the following div will be entirely replaced by the 'footer' fragment in fragments.html template  */-->
        <div th:replace="~{fragments.html :: footer}"></div>
    </body>
</html>