html body {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
}
a:visited {
  color: inherit;
}
a {
  text-decoration: none
}

a.action {
    display: block;
    padding: 10px 10px 10px 50px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-x: 10px;
    background-position-y: 10px;
}

header, footer {
  text-align: center;
}

#tasklist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article {
    background-color: #efefef;
    background-image: url("../img/arrow.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 25px;
    border: 1px solid #afafaf;
    border-radius: 5px;
    width: 500px;
    margin-bottom: 15px;
    padding: 0 10px;
}
article h2 {
    text-align: center;
}
article.collapsed {
    background-image: url("../img/arrow2.svg");
}
article a.start {
    background-image: url('../img/clock-play.svg');
}
article a.stop {
    background-image: url('../img/clock-pause.svg');
}
article .timerRow {
    display: flex;
    padding: 0 24px;
}
article .timerRow p {
   margin-right: auto;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer a.add {
    background-image: url('../img/plus.svg');
}
